body {
	background-color: #ddd;
	color: #222;
	font-family: Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
h1, h2, p {
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
}
p {
	margin-left: 10px;
	margin-right: 10px;
	color: #666;
}
a:link, a:visited {
	color: #333;
}
h1 {
	margin: 0;
	padding: 0;
	background-color: #ccc;
	border-bottom: 1px solid #666;
	font-size: 20px;
	padding: 10px 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}
h2 {
	font-size: 17px;
}
fieldset {
	margin: 0;
	margin-top: 37px;
	border: none;
	padding: 5px 10px;
	position: relative;
}
#tools > fieldset:last-child { margin-top: 10px; }
fieldset > legend {
	color: #666;
	margin-left: 10px;
	font-size: 17px;
	font-weight: bold;
	display: block;
	position: absolute;
	top: -29px;
}
ol, ul { margin: 10px 0; }
ol, ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}
li > label, li > input {
	display: inline-block;
	font-familily: Helvetica;
	background-color: #fff;
	font-size: 17px;
	height: 17px;
	padding: 12px 10px;
	margin: 0;
	margin-bottom: -1px;
	border: 1px solid #999;
	-webkit-border-radius: 0;
	line-height: 1em;
}
li > label {
	float: left;
	font-weight: bold;
	text-align: right;
	border-right: none;
	width: 140px;
}
li:first-child > label {
	-webkit-border-top-left-radius: 8px;
}
li:last-child > label {
	-webkit-border-bottom-left-radius: 8px;
}
li > input {
	border-left: none;
	width: 118px;
	-webkit-appearance: none;
}
li:first-child > input {
	-webkit-border-top-right-radius: 8px;
}
li:last-child > input {
	-webkit-border-bottom-right-radius: 8px;
}
input[type=button] {
	display: block;
	font-size: 17px;
	height: 41px;
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 8px;
	padding: 12px 10px;
	margin: 10px;
	border: 1px solid #999;
	line-height: 1em;
	width: 298px;
	-webkit-appearance: none;
	font-weight: bold;
}
input[type=button]:active, input[type=button]:hover {
	background-color: #00f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#55f), to(#00f));
	color: #fff;
}
	fieldset input[type=button] {
	margin: 10px 0;
}
#addCheck { margin-bottom: 0; }
#checksBalance, label[for=checksBalance], #totalDeposit, label[for=totalDeposit] { display: none; }
#print {
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	margin-top: 0;
	margin-bottom: -1px;
}
#email {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
}
input.under { color: red; }
input.even { color: orange; }
input.over { color: green; }

/* iPad Portrait CSS */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	section {
		display: block;
		margin: 0;
		padding: 0;
		width: 384px;
	}
	#money {
		float: left;
	}
	#tools {
		margin-left: 384px;
		overflow: hidden;
	}
	#money fieldset {
		padding-left: 30px;
		padding-right: 15px;
	}
	#tools fieldset {
		padding-left: 15px;
		padding-right: 30px;
	}
	li > label { width: 157px; }
	li > input { width: 135px; }
	input[type=button] { width: 334px; }
	footer { clear: both; } 
}

/* iPad Landscape CSS */
@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	section {
		display: block;
		margin: 0;
		padding: 0;
		width: 512px;
	}
	#money {
		float: left;
	}
	#tools {
		margin-left: 512px;
		overflow: hidden;
	}
	#money fieldset {
		padding-left: 30px;
		padding-right: 15px;
	}
	#tools fieldset {
		padding-left: 15px;
		padding-right: 30px;
	}
	li > label { width: 221px; }
	li > input { width: 199px; }
	input[type=button] { width: 462px; }
	footer { clear: both; }
}

